body {
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    color: white;
}



.Profile_image{
    width:  300px;
    height: 400px;
    float: right
}

#honorific {
    font-size: 16pt;

}